<%- include('partials/header') -%>

<a href="/logout"  class="col-3 btn btn-primary" id="logoutBTN">Log out</a>

<section class="mainSection">
  <div>
    <div class="textColor">
      <h1>Pending Orders</h1>
      <p>Click the checkmark once an order is complete</p>
    </div>

    <% if(pendingOrders.length == 0) {%>
      <p class="textColor">No orders pending. Feel free to take a break!</p>
    <%} %>

    <ul>
    <% for (let i = 0; i < pendingOrders.length; i++) {%>
      <div class="OrderPending">
        <li>
          <span>Name: <%= pendingOrders[i].customerName%></span>
          <p>Order: <%= pendingOrders[i].size%> <%= pendingOrders[i].order%></p>
          <!-- <span><i class="bi bi-check-circle"></i></span> -->

          <!--Using method override to send a put request to the server. When somone clicks on the checkmark it tells the server to change order from pending to complete-->
          <form
            class="col-1"
            action="/post/completeOrder/<%= pendingOrders[i].id %>?_method=PUT"
            method="POST"
            >
            <button class="btn btn-primary bi bi-check-circle" type="submit"></button>
          </form>

        </li>
      </div>
    <%}%>
    </ul>



  </div>
</section>


<section class="mainSection">
  <div >
    <div class="textColor">
      <h1>Waiting For Pickup</h1>
      <p>Delete an order once it's been picked up</p>

    </div>
    <ul>
    <% for (let i = 0; i < completedOrders.length; i++) {%>
      <div class="OrderComplete">
        <li>
          <span><%= completedOrders[i].barista%> completed: <%= completedOrders[i].customerName%>'s order</span>
          <p>Order: <%= completedOrders[i].size%> <%= completedOrders[i].order%></p>


          <!--Using method override to send a delete request to the server. When somone clicks on the trash icon it tells the server to delete the order from the database-->

          <!--Pass in the ID of the post as a query parameter so we know which post to delete-->
          <form
          action="/post/deleteOrder/<%= completedOrders[i].id %>?_method=DELETE" 
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary bi bi-trash" type="submit"></button>
        </form>
          
        </li>
      </div>
    <%}%>
    </ul>



  </div>
</section>



<%- include('partials/footer') -%>